div.css-115gedg.e1f1d6gn1 {
    background-color: #EBF5FB;
    border: 2px solid #0E0153;
    padding: 20px 20px 20px 20px;
/*    padding: 5% 5% 5% 10%; */
    border-radius: 10px;
}
div.css-1r6slb0.e1f1d6gn1 {
    background-color: #F9EBEA;
    border: 2px solid #641E16;
    padding: 20px 20px 20px 20px;
/*    padding: 5% 5% 5% 10%; */
    border-radius: 10px;
}
